body {
	color: black;
	font-family: helvetica;
	text-align: justify;
	margin: 0 auto;
	max-width:900px;
	color: black;
}

h1 {
	font-size: 40px;
	text-align: center;
}

caption2 {
	font-weight: bold;
	text-align: left;
	margin: 70px;
}

#caption {
	text-align: center;
	font-weight: bold;
}

#profileImage {
	text-align: center;
}

#topImage {
    position: absolute;
    top: 60px;
    right: 50px;
}
